.calendar {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hours {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.5%;
    border-right: 1px solid black;
}

.hour {
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-size: large;
    font-weight: bold;
    margin-left: 10px;
}
